@charset "utf-8";
/* CSS Document */

.border{border:1px solid #ccc}
.rounded {-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;}


li.page, li.next, li.previous {margin:0}

.grid-view table.items
{
    /*	border-collapse: collapse;
            border-spacing: 0px;	
            width: 100%;
            border: 0 none !important;*/
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: separate;
    border-color: #DDDDDD;
    border-image: none;
    border-radius: 2px;
    border-spacing: 0;
    border-style: solid;
    margin-bottom: 20px;
    width: 100%;    
}

.grid-view table.items tr.filters td input{
    width: 80%;
}

.grid-view table.items th
{
    border:1px solid #C2C2C2;
    border-collapse: separate;
    background:transparent;
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background-color: #FBFBFB;
    background-image: linear-gradient(to bottom, #FFFFFF, #EFEFEF);
    background-repeat: repeat-x;
    box-shadow: 0 1px 0 #FFFFFF inset;
    font: bold 14px/20px Arial,Sans-serif;
    list-style: none outside none;
    margin: 0 0 18px;
    padding: 8px;
    position: relative;
}

.grid-view table.items th, .grid-view table.items td
{
    font-size: 0.9em;
    padding: 0.3em;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
}

.grid-view table.items th a
{
    color: #555;
    font-weight: bold;
    text-decoration: none;
}

.grid-view table.items th a:hover
{
    /*color: #fff;*/
}

.grid-view table.items th a.asc
{
    background:url(up.gif) right center no-repeat;
    padding-right: 10px;
}

.grid-view table.items th a.desc
{
    background:url(down.gif) right center no-repeat;
    padding-right: 10px;
}

/*.grid-view table.items tr.even*/
tr.even
{
    /*background: #fff;*/
}

/*.grid-view table.items tr.odd*/
tr.odd
{
    /*background: #f3f3f3;*/
   /*background:#f3f3f3;*/ 
}

.grid-view table.items tr.selected
{
    background:#49B7F6;
    /*background:#9eec55;*/
}

.grid-view table.items tr:hover td, .grid-view table.items tr:hover td a
{
    /*background:#e58616;*/
    background:#1587C8;
    color:#fff;
    /*font-weight: 700;*/
}

.grid-view table.items tr.filters td {
    background: none repeat scroll 0 0 #EEEEEE;
    line-height: normal;
    padding: 4px 6px;
    text-align: center;
    transition: line-height 0.1s ease 0s;
    vertical-align: middle;
}


/*.grid-view .link-column img
{
    border: 0;
}*/

/*.grid-view .button-column img
{
    border: 0;
}*/


.grid-view .button-column
{
    text-align: center;
    width: 60px;
}

.grid-view .checkbox-column
{
    width: 15px;
}

/*.grid-view .summary*/
div.summary
{
    margin: 0 0 5px 0;
    text-align: right;
    font-size:0.8em
}

/*.grid-view .pager*/
div.pager
{
    margin: 5px 0 0 0;
    text-align: center;
    padding:0;
    height:30px;
}

.grid-view .empty
{
    font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
    width: 100%;
    border: 1px solid #ccc;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}


/* Styles for ClinkPager */
ul.yiiPager
{
    font-size:.9em;
    border:0;
    margin:0;
    padding:0;
    line-height:100%;
    display:inline;
}

ul.yiiPager li
{
    display:inline;
}

ul.yiiPager a:link,
ul.yiiPager a:visited
{
    border:solid 1px #ccc;
    color:inherit;
    font-weight:bold;
    padding:2px 8px;
    text-decoration:none;
    -moz-border-radius:3px; -webkit-border-radius:3px; border-radius: 3px;
}

ul.yiiPager .page a
{
    font-weight: 600;
}

ul.yiiPager a:hover
{
    background:#e58616;
    color:#fff;
}

ul.yiiPager .selected a
{
    background:#e58616;
    color:#fff;
    font-weight:bold;
    font-size:1.3em;
}

ul.yiiPager .hidden a
{
    border:1px solid #ccc;
    color:inherit;
}

/**
 * Hide first and last buttons by default.
 */
ul.yiiPager .first,
ul.yiiPager .last
{
    display:none;
}

div.demo_box{
    background: transparent url('images/bg.gif') repeat scroll left top;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}

div.grid-view {
    /*background:#f3f3f3;*/
    border:1px solid #ccc;
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    padding:5px;
    padding-top:20px;
    margin-top:10px;
    /*overflow:scroll; */
}

